body{
    background-image: linear-gradient(120deg, darkslateblue, blueviolet, violet);
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: 50;
	text-align: center;
	margin: 1rem 0 3rem; 
}

.title{
	color:#000;
	text-transform: uppercase;
    font-weight: 800;

}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

.add{
	outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color:#000;
    color: white;
    cursor: pointer;
    transition: .5s;
	margin: 0.25rem;
}

.add:hover{
	opacity: 0.7;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.item{
	padding: 0.5rem;
	border-bottom: 4px solid #fff;
    margin-bottom: 1.5rem;
           
}

.item_input{
	background: none;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1.4rem;
	width: 245px;
}

.edit{
	background: none;
	outline: none;
	border: none;
	color: #1e1e1e;
	font-size: 1.4rem;
	margin: 0 0.5rem;
	cursor: pointer;
}
.edit:hover{
    color: #000;
}

.remove{
	background: none;
	outline: none;
	border: none;
	color: #1e1e1e;
	font-size: 1.4rem;
	cursor: pointer;
}
.remove:hover{
    color: #000000;
};