body{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    margin:auto;
}
h1{ font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
input{
    padding: 7px 1px;
    border:solid thin;
    border-radius:2px;
    margin:10px;
}
